.max-section-hero-dbl-scroll-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: #{"min(100vh, 900px)"};
  text-align: center;
  color: var(--wmd-clr-grey-0);
}



.hero-sign-up-cta {
  width: fit-content;
  background-color: var(--wmd-clr-grey-0);
  margin-inline: auto;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 576px){
    flex-direction: row;  
  }
  



  .email-input {
    min-width: 42ch;
    width: 42ch;
    max-width: 42ch;

    label {
      background:white;
      border-radius: 4px;
      padding-inline: 8px;
      
      &.Mui-focused {
        margin-left: -4px;
        color: var(--wmd-clr-plum-5);

        // MuiOutlinedInput-notchedOutline css-1d3z3hw-MuiOutlinedInput-notchedOutline

        
      }
    }

    .MuiInputBase-root:hover fieldset {
      border-color: var(--wmd-clr-plum-5);
    }
    .Mui-focused fieldset {
      border-color: var(--wmd-clr-plum-5);
    }

    .MuiInputBase-root {
      background:white;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .email-submit {
    min-height: 100%;
    max-height: 100%;
    display: block;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 700;
    letter-spacing: .2em;
    padding: .55em 1.5em .5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin: 0;
    text-transform: uppercase;
    background-color: var(--wmd-clr-plum-5);

    &:hover, &:focus {
      background-color: var(--wmd-clr-plum-7);
    }
  }
}