.max-section-hero-dbl-scroll-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: #{"min(100vh, 900px)"};
  text-align: center;
  color: var(--wmd-clr-grey-0);
}



