.hero-sign-up-cta {

  --form-background-color: var(--wmd-clr-grey-0);
  --form-accent-color: var(--wmd-clr-plum-5);
  --form-focus-color: var(--wmd-clr-plum-7);

  /* Mobile First Styles */

  display: block;
  max-width: 62ch;
  margin-inline: auto;
  border-radius: 0.25em;
  
  .email-input {
    width: 100%;
    margin-bottom: 0.4em;

    label {
      padding-inline: 0.5em;
      border-radius: 4px;
      background-color: var(--form-background-color);
      
      &.Mui-focused {
        margin-left: -4px;
        color: var(--form-accent-color);        
      }
    }

    .MuiInputBase-root:hover fieldset,
    .Mui-focused fieldset {
      border-color: var(--form-accent-color);
    }

    .MuiInputBase-root {
      background-color: var(--form-background-color);
    }
  }

  .email-submit {
    display: block;
    min-height: 100%;
    max-height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: .55em 1.5em .5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--form-accent-color);
    letter-spacing: .2em;

    &:hover, &:focus {
      background-color: var(--form-focus-color);
    }
  }

  /* Larger than Mobile Styles */
  
  @media only screen and (min-width: 576px){
    display: flex;
    flex-direction: row;

    .email-input {
      width: auto;
      margin: 0;
      flex: 1 1 auto;
      .MuiInputBase-root {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &.expanded {
      .email-submit {
        margin-block: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }
}